.AddingParty{
    position: absolute;
    right: 20px;
}

.AddParty{
    background-color: rgba(73, 73, 255, 0.952);
    border: none;
    padding: 5px;
    margin-left: 5px;
}

.AddParty:hover{
    background-color: rgba(0, 0, 146, 0.952);
    cursor: pointer;
    color: white;
}

.AddParty:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.PartyNameInput
{
    padding: 4px;   
}

.PartyNameInput:focus{
    outline: 2px solid rgba(73, 73, 255, 0.952);
    outline-offset: -2px;
}

.PartyList{
    background-color: rgba(73, 73, 255, 0.952);
    position: absolute;
    top: 25%;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.Party{
    width: 100%;
    padding: 5px 0 5px 0;
    margin-bottom: 5px;
}

.partyli{
    text-align: left;
}